
<div class="nav-container">
  <div>
    <app-child-search></app-child-search>
  </div>




    <nav>
      <a routerLink="/vivienda">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="house-heart"></mat-icon>Home</a>

    <a routerLink="/playa">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="beach"></mat-icon>Playa</a>
    <a routerLink="/montana">Montaña</a>
    <a routerLink="/capital">Capital</a>
    </nav>
</div>
<main class="main-content">
 <router-outlet></router-outlet>
</main>

<footer>
  <div>Explore</div>
  <div>
    <a href="">
      <img src="../assets//images/explore.png" alt="" width="40px">
    </a>
  </div>
  <div>
  <a href="">
    <img src="../assets/images/account.png" alt="" width="40px">
  </a>

  </div>
</footer>


<footer></footer>

