*{
  box-sizing: border-box;
}
input {
  border-radius: 40px;
  height:40px;
  width:50%;
  padding-left: 10px;
}
form{
  background-color: #3F50B5;
  text-align: center;
  padding: 20px;
}
button {
  background-color: #3F50B5;
  color: white;
  font-size: 3vh;
  padding: 8px 12px;
  border-radius: 30px;
  text-align: center;

  border:1px solid #3F50B5;
}
