*{
  box-sizing: border-box;
}
input {
  border-radius: 40px;
  height:40px;
  width:50%;
  padding-left: 10px;
  border: none;
}
form{
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}
button {
  background-color: #f1f1f1;
  color: rgb(93, 91, 91);
  font-size: 3vh;
  padding: 8px 12px;
  border-radius: 30px;
  text-align: center;

  border:1px solid #f1f1f1;
}
